body {
    background-color: lightslategray;
    text-align: center;
    min-width: 320px;
}

#survey-form  {
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 4px;
    width:75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
    display: inline-block;
}

main {
    color: white;
}